@import (reference) './mixins.less';
@import './variables.less';
@import './material.less';

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700');

html {
  #max;

  font-family: 'Rubik', sans-serif;

  body {
    #max;
    padding: 0;
    margin: 0;

    main {
      #max;

      sections {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: @footerHeight;
        display: flex;
        flex-direction: row;

        #users {
          flex: @usersProportion 0 auto;
          width: 0;
          background-color: @primary;

          header {
            background-color: @primaryDark;
            height: @toolbarHeight;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            i {
              margin-left: 10px;
              cursor: pointer;
            }

            #user-search {
              margin-left: 20px;
              flex: 1 1 auto;
              width: 80%;
              border-radius: 3px;
              padding-left: 15px;
              margin-right: 20px;
              border: none;
              height: @searchHeight;
              background: @primaryLight;
              outline: none;
              color: rgba(255, 255, 255, 0.7);
            }
          }
        }

        #chat {
          flex: @chatProportion 0 auto;
          width: 0;
          background-color: @primaryLight;
        }
      }

      footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: @footerHeight;
      }
    }
  }
}
