@import (reference) './mixins.less';
@import './chat.less';
@import './sidebar.less';
@import './variables.less';
@import './material.less';
@import './rules.less';

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

html {
  #max-abs;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: 'Rubik', sans-serif;

  body {
    #max;
    padding: 0;
    margin: 0;

    main {
      #max;

      > .main-overlay {
        #max-abs;
        transition: opacity 1s ease;
        background: rgba(0, 0, 0, 0.3);
        z-index: @overlayZ;

        &.hide-slow {
          pointer-events: none;
        }
      }

      #drawer {
        @drawerWidth: 100% * @usersProportion;
        position: absolute;
        width: @drawerWidth;
        background: @primaryDark;
        left: @drawerWidth * -1;
        top: 0;
        bottom: 0;
        transition: transform 0.6s ease;
        z-index: @drawerZ;
        min-width: @minSidebar;

        &.open {
          transform: translate3d(100%, 0, 0);
        }

        @media screen and (max-width: @sidebarMinBreakpoint) {
          width: @minSidebarPercent;
          left: -@minSidebarPercent;
          min-width: @minSidebarPercent;
        }

        @media screen and (min-width: @sidebarMinBreakpoint) and (max-width: @sidebarMaxBreakpoint) {
          width: @minSidebar;
          left: -@minSidebar;
        }
      }

      sections {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: @footerHeight;
        display: flex;
        flex-direction: row;
      }

      footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: @footerHeight;
      }
    }
  }
}
