@import (reference) './mixins.less';
@import './variables.less';
@import './material.less';

html {
  #max;

  body {
    #max;
    padding: 0;
    margin: 0;

    main {
      #max;

      sections {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: @footerHeight;
        display: flex;
        flex-direction: row;

        #users {
          flex: @usersProportion 0 auto;
          width: 0;
          background-color: @primary;

          header {
            background-color: @primaryDark;
            height: @toolbarHeight;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            i {
              margin-left: 10px;
              cursor: pointer;
            }
          }
        }

        #chat {
          flex: @chatProportion 0 auto;
          width: 0;
          background-color: @primaryLight;
        }
      }

      footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: @footerHeight;
      }
    }
  }
}
