/* Dimensions */
@footerHeight: 0px;
@toolbarHeight: 60px;
@searchHeight: @toolbarHeight - 20px;

/* Z-Index */
@overlayZ: 200;
@sidebarZ: 100;
@drawerZ: 300;

/* Users */
@usersProportion: 0.23;
@userHeight: 70px;
@userPadding: 3px;
@minSidebar: 400px;
@minSidebarProportion: 0.9;
@minSidebarPercent: 100% * @minSidebarProportion;

/* Chat */
@chatProportion: 1 - @usersProportion;
@sendMsgBtnMargin: 9px;

/* Colors */
@primaryDark: #212121;
@primary: #303030;
@primaryLight: #424242;

/* Media breakpoints */
@sidebarMinBreakpoint: @minSidebar / @minSidebarProportion;
@sidebarMaxBreakpoint: @minSidebar / @usersProportion;

@primaryLightFont: rgba(255, 255, 255, 0.9);
@secondaryLightFont: rgba(255, 255, 255, 0.7);

/* Media Queries */
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
~"only screen and (min--moz-device-pixel-ratio: 1.5)",
~"only screen and (-o-min-device-pixel-ratio: 3/2)",
~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";
