/* Dimensions */
@footerHeight: 0px;
@toolbarHeight: 50px;
@searchHeight: 30px;

/* Users */
@usersProportion: 25;

/* Chat */
@chatProportion: 100 - @usersProportion;

/* Colors */
@primaryDark: #212121;
@primary: #303030;
@primaryLight: #424242;
